.p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    position:sticky;
    top: 0px;
    width: 100%;
    z-index: 100;

}
.j {
    padding: 5px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}
.h2 {
    margin-left:  30px;
    color: #fff;
}
.about {
    margin-right: 30px;
}