.divs {
    /* width: 100vh; */
    height: 100vh;
    background: url(../../../Assets/anoir-chafik-2_3c4dIFYFU-unsplash.jpg) no-repeat center/cover;
    /* background-size: 100%;
    z-index: 100; */
}
.btn {
position: absolute;
top: 40%;
right: 48%;
border-radius: 5vh;
font-size: 20px;
padding: 20px 30px;
background-color: #dad7cd;
opacity: 1;
border: 3px solid #fff;
cursor: pointer;
} 