.FilterDiv {
    color: #000;
    flex-direction: column;
    font-weight: 700;
    font-size: 20px;
    margin-left: 2%;
}

.FilterDiv select {
    width: 33vh;
    background-color: #dad7cd;
    border: 2px solid rgba(128, 128, 128, 0.3);
    color: #000;
    /* font-weight: 500; */
    padding-left: 30px;
    margin-left: 7px;
    border-radius: 5vh;
    font-size: 18px;
}

@media only screen and (max-width:376px) {
    .FilterDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;

    }
}