.PrimaryDiv{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.Doggys{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        
}
.Btn {
    width: 200px;
    height: 50px;
    border-radius: 5vh;
    margin-left: 2px;
    background-color: #f0d16a44;
    position: relative;
    /* right: 75px;*/
    bottom: -20px;
    cursor: pointer; 
}
.hh2 {
    color: #e76;
    grid-column: 1/3;
    font-size: 25px;
}