.container {
    width: 100%;
    margin: auto;
    align-items: center;
}

.PrimaryDiv {
    max-width: initial;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin: 0px;
}

.Doggys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    margin: 2%
}

.Btn {
    width: 200px;
    height: 50px;
    border-radius: 5vh;
    margin-left: 2px;
    background-color: #fff;
    position: relative;
    /* right: 75px;*/
    /* bottom: -20px; */
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}
.errorsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hh2Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 
.hh2 {
    margin-top: 0%;
    background-color: #dad7cd;
    border-radius: 5vh;
    display: flex;
    justify-content: center;
    /* margin-left: 25%; */
    align-items: center;
    width: 45%;
    color: #000;
    grid-column: 1/3;
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 2%;
}
.error{
    margin: auto 20% ;
}

@media only screen and (max-width:992px) {
    .Doggys {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: flex-start;
        gap: 25px;
    }
}
@media only screen and (max-width:576px){
    /* .hh2Container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: fit-content;
        margin-right: 0%;
    } */
    .hh2{
        width:80% ;
    }
}
@media only screen and (max-width:480px) {
    .Doggys {
        grid-template-columns: repeat(1, 1fr);
    }
}